.title {
    font-size: 1.8rem;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .section {
    padding: 1rem ;
    background: #282828;
    margin: 0;
    height: auto;
    overflow: hidden;
    /* width: 100vw; */
    transition: all 0.3s linear;
  }
  
  nav {
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s linear;
    height: 250px;
    color: #ffffff;
  }
  .toggle-btn {
    display: block;
    transition: all 0.3s linear;
    outline: none;
    border: none;
    color: white;
    cursor: pointer;
    background-color: transparent;
  }
  
  .toggle-btn:hover {
    border: none;
    transform: rotate(90deg);
    transition: all 0.3s linear;
    background: transparent;
    color: #23d997;
  }
  
  ul {
    transition: all 0.3s linear;
    flex-direction: column;
  }

  @media screen and (min-width: 1200px) {
    header {
      flex: 1;
      padding: 1rem 3rem;
    }
    nav {
      max-height: 70px !important;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem 6rem;
    }
    .toggle-btn {
        display: none;
    }
    .section {
        margin-bottom: 2rem;
      display: flex;
      /* justify-content: space-between; */
      justify-content: center;
      /* padding: 1rem 2rem; */
      align-items: center;
      min-width: 100%;
      width: 100%;
      padding: 0.3rem 6rem;
      /* max-width: 1170px; */
    }
    ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 0 0.4rem;
    }
    li {
      margin: 0 2rem;
      font-size: 1.6rem;
    }
  }
  
  @media screen and (max-width:300px) {
    .section{
      padding: 1rem 4rem;
    }
  }